@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "DM Serif Display", sans-serif;
}

h3,
p,
li,
button {
	font-family: "Karla", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
}

/* .waves {
	background: url("./images/bg-pattern-intro-left-mobile.svg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: hsl(256, 26%, 20%);
} */
.howWeWorkBG {
	background: url("./images/bg-pattern-how-we-work-mobile.svg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: hsl(256, 26%, 20%);
}
.mobile-menu-bg {
	background-color: hsl(270, 9%, 17%);
	background: url("./images/bg-pattern-mobile-nav.svg"), hsl(270, 9%, 17%);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 100%;
	width: 100%;
}

.footer-bg {
	background: url("./images/bg-pattern-footer-mobile.svg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
}

@media screen and (min-width: 767px) {
	.footer-bg {
		background: url("./images/bg-pattern-footer-desktop.svg");
		background-position: top left;
		background-repeat: no-repeat;
		background-size: 45%;
		background-color: hsl(0, 0%, 98%);
	}
	.howWeWorkBG {
		background: url("./images/bg-pattern-how-we-work-desktop.svg");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 40%;
		background-color: hsl(256, 26%, 20%);
	}
}
